<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>Vale</span> do zambeze</h2>
                            </div>

                            <p>Agência de Desenvolvimento do Vale Zambeze.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="https://web.facebook.com/Ag%C3%AAncia-de-Desenvolvimento-do-Vale-do-Zambeze-675303539191026/"><i class="bi bi-facebook"></i></a>
                                    </li>
                                   
                                    <li>
                                        <a href="https://www.instagram.com/agencia_zambeze/"><i class="bi bi-instagram"></i></a>
                                    </li>
                                   
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCfSinBFAUuGjHCF-s6IzgEw"><i class="bi bi-youtube"></i></a>
                                    </li>

                                    <li>
                                        <a href=" https://www.linkedin.com/company/ag%C3%AAncia-de-desenvolvimento-do-vale-zambeze/"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Mais informações</h4>
                            <!-- <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p> -->
                            <div class="footer-contacts">
                                <p><span>Tel:</span> Telef. 25223328</p>
                                <p><span>Email:</span>  info@agenciadozambeze.gov.mz</p>
                                <p><span>Website:</span>www.agenciadozambeze.gov.mz</p>
                                <!-- <p><span>Working Hours:</span> 9am-5pm</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Galeria</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="/assets/img/portfolio/1.jpg" alt=""></a>
                                <a href="#"><img src="/assets/img/portfolio/2.jpg" alt=""></a>
                                <a href="#"><img src="/assets/img/portfolio/3.jpg" alt=""></a>
                                <a href="#"><img src="/assets/img/portfolio/4.jpg" alt=""></a>
                                <a href="#"><img src="/assets/img/portfolio/5.jpg" alt=""></a>
                                <a href="#"><img src="/assets/img/portfolio/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>vale do zambeze</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">

                        Designed by <a href="">Onemedia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>