<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html') %>
</head>

<body>

    <!-- ======= Header ======= -->
    <%- include('../partials/header.html') %>
        <!-- End Header -->

        <main id="main">

            <!-- ======= Blog Header ======= -->
            <div class="header-bg page-area">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <div class="header-bottom">
                                    <!-- <div class="layer2">
                                        <h1 class="title2">Documentos</h1>
                                      </div> -->
                                      <div class="layer3">
                                        <h2 class="title3">Selecione seus documentos</h2>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Header -->


            <form action="email" method="POST" id="send">

                <div class="container mt-5 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10">



                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nome da delegação">
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descricao</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>





                            
                     
                             <div class="row send">
                                <div class="form-group col-md-6">
                               
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Digite o seu email">
                                    <small id="emailHelp" class="form-text text-muted">Vai receber todos documentos selecionados neste email.</small>
                                  </div>

                                  <div class="form-group col-md-6">
                               
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    
                                  </div>
                             </div>
                            


                        </div>
                    </div>
                </div>


                



              
            </form>

         

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include('../partials/footer.html') %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

        <script>
        document
          .getElementById("send")
          .addEventListener("submit", (event) => {
           
            alertSuccess()
        })

        function alertSuccess() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Documentos enviados com sucesso!',
                showConfirmButton: false,
                timer: 1500
            })
        }
        </script>



</body>

</html>