<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html') %>
</head>

<body>

    <!-- ======= Header ======= -->
    <%- include('../partials/header.html') %>
        <!-- End Header -->

        <!-- ======= hero Section ======= -->
        <section id="hero">
            <div class="hero-container">
                <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                    <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/1.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Seja Bem vindo</h2>
                                    <p class="animate__animated animate__fadeInUp">Fórum de negócios da SADC moçambique</p>
                                    <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Começar</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/2.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Seja Bem vindo</h2>
                                    <p class="animate__animated animate__fadeInUp">Fórum de negócios da SADC moçambique</p>
                                    <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Começar</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item" style="background-image: url(assets/img/hero-carousel/3.jpg)">
                            <div class="carousel-container">
                                <div class="container">
                                    <h2 class="animate__animated animate__fadeInDown">Seja Bem vindo</h2>
                                    <p class="animate__animated animate__fadeInUp">Fórum de negócios da SADC moçambique</p>
                                    <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Começar</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                    </a>

                    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                    </a>

                </div>
            </div>
        </section>
        <!-- End Hero Section -->

        <main id="main">

            <!-- ======= About Section ======= -->
            <div id="about" class="about-area area-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Sobre Vale do Zambeze</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- single-well start-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-left">
                                <div class="single-well">
                                    <a href="#">
                                        <img src="assets/img/about/1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-middle">
                                <div class="single-well">
                                    <a href="#">
                                        <h4 class="sec-head"> Vale do Zambeze</h4>
                                    </a>
                                    <p>
                                        A Agência de Desenvolvimento do Vale do Zambeze, abreviadamente designada por Agência do Zambeze, criada pelo Decreto n.º 23/2010, de 30 de Junho, é um instituto público, dotado de personalidade jurídica, com autonomia administrativa e financeira, funcionando sob tutela do Ministro que superintende a área de Planificação e Desenvolvimento.
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="bi bi-check"></i> Produção de energia eléctrica
                                        </li>
                                        <li>
                                            <i class="bi bi-check"></i> Exploração dos recursos minerais
                                        </li>
                                        <li>
                                            <i class="bi bi-check"></i> Projectos agroindustriais
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End col-->
                    </div>
                </div>
            </div>
            <!-- End About Section -->

            <!-- ======= Services Section ======= -->
            <div id="services" class="services-area area-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline services-head text-center">
                                <h2>Potencialidades do Vale do Zambeze</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <!-- Start Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="fas fa-tractor"></i>
                                        </a>
                                        <h4>Agrícola</h4>
                                        <p>
                                            O Vale do zambeze tem alto potencial agrário, em termos de vastidão de terras e de qualidade; Na região concentram-se os recursos mais variados de solo
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="fas fa-paw"></i>
                                        </a>
                                        <h4>Pecuária</h4>
                                        <p>
                                            Reúne grandes reservas de recursos minerais, água e uma imensidão de terras propícias para a agricultura e pecuária.
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="fas fa-fish"></i>
                                        </a>
                                        <h4>Pesca</h4>
                                        <p>
                                            O recurso mais precioso e estrategicamente mais importante do Vale do Zambeze é a água
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="far fa-lightbulb"></i>
                                        </a>
                                        <h4>Maior reserva de energia </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <!-- End Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="fas fa-umbrella-beach"></i>
                                        </a>
                                        <h4>Turistica</h4>
                                        <p>
                                           O vale de zambeze oferece grandes atractivos para o desenvolvimento do turismo, a beleza do lago, a diversidade biológica e a facilidade de deslocação têm atraído cada vez mais turistas
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                        <!-- End Left services -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- end col-md-4 -->
                            <div class=" about-move">
                                <div class="services-details">
                                    <div class="single-services">
                                        <a class="services-icon" href="#">
                                            <i class="far fa-gem"></i>
                                        </a>
                                        <h4>Minerais
                                        </h4>
                                        <p>
                                            O Vale do Zambeze detém grande diversidade de recursos naturais: Água – 52% dos recursos hídricos do País; Solos - 22 milhões de hectares;
                                        </p>
                                    </div>
                                </div>
                                <!-- end about-details -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Services Section -->

            <!-- ======= Team Section ======= -->
            <div id="team" class="our-team-area area-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Nossas Delegações</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    <% if(typeof data != 'undefined') { %>
                        <% data.forEach(function(value) { %>

                        <!-- End column -->
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="single-team-member">
                                <div class="team-img">
                                    <a href="/delegation/<%= value.uid%>">
                                        <img src="<%= value.img%>" alt="">
                                    </a>
                                    
                                </div>
                                <div class="team-content text-center">
                                    <h6><%= value.name%></h6>
                                    <!-- <p>Web Developer</p> -->
                                </div>
                            </div>
                        </div>

                        <% }) %>
                        <% } else { %>
                              <!-- list is empty -->
                        <% } %>
                       
                     
                        <!-- End column -->
                    </div>
                </div>
            </div>
            <!-- End Team Section -->

            <!-- ======= Rviews Section ======= -->
            <div class="reviews-area">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <!-- <img src="assets/img/about/2.jpg" alt="" class="img-fluid"> -->
                    </div>
                    <div class="col-lg-6 work-right-text d-flex align-items-center">
                        <div class="px-5 py-5 py-lg-0">
                            <h2>Vale do Zambeze</h2>
                            <h5>O recurso mais precioso e estrategicamente mais importante do Vale do Zambeze é a água. Dispõe de uma das maiores reservas de água doce do Continente.</h5>
                            <a href="http://www.agenciadozambeze.gov.mz/" class="ready-btn scrollto" style="margin-bottom: 20px;">visite-nos</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Rviews Section -->

            <!-- ======= Portfolio Section ======= -->
            <div id="portfolio" class="portfolio-area area-padding fix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-headline text-center">
                                <h2>Nossa Galeria</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row wesome-project-1 fix">
                        <!-- Start Portfolio -page -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">Todos</li>
                                <li data-filter=".filter-app">Future Sources</li>
                                <li data-filter=".filter-card">Realizações da Agência do Zambeze</li>
                                <li data-filter=".filter-web">Zamadzi</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row awesome-project-content portfolio-container">

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app portfolio-item">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <!-- <a href="#"><img src="assets/img/portfolio/1.jpg" alt="" /></a> -->

                                    <iframe style="min-height: 285px" width="100%" height="100%" src="https://www.youtube.com/embed/-rAeqN-Q7x4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a href="#"><img src="assets/img/portfolio/2.jpg" alt="" /></a>

                                    <div class="add-actions text-center text-center">
                                        <div class="project-dec">
                                            <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/2.jpg">
                                               
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-card">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a href="#"><img src="assets/img/portfolio/3.jpg" alt="" /></a>
                                    <div class="add-actions text-center text-center">
                                        <div class="project-dec">
                                            <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/3.jpg">
                                               
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a href="#"><img src="assets/img/portfolio/4.jpg" alt="" /></a>

                                    <div class="add-actions text-center text-center">
                                        <div class="project-dec">
                                            <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/4.jpg">
                                               
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a href="#"><img src="assets/img/portfolio/5.jpg" alt="" /></a>
                                    <div class="add-actions text-center text-center">
                                        <div class="project-dec">
                                            <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/5.jpg">
                                               
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                        <!-- portfolio-item start -->
                        <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
                            <div class="single-awesome-project">
                                <div class="awesome-img">
                                    <a href="#"><img src="assets/img/portfolio/6.jpg" alt="" /></a>
                                    <div class="add-actions text-center">
                                        <div class="project-dec">
                                            <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/6.jpg">
                                                
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- portfolio-item end -->

                    </div>
                </div>
            </div>
            <!-- End Portfolio Section -->



            <!-- ======= Blog Section ======= -->
            <div id="blog" class="blog-area">
                <div class="blog-inner area-padding">
                    <div class="blog-overly"></div>
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="section-headline text-center">
                                    <h2>Estudos</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Start Left Blog -->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-blog">
                                    <div class="single-blog-img">
                                        <a href="study/1">
                                            <img src="assets/img/blog/1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-meta">
                                        <!-- <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">13 comments</a>
                  </span>
                                    <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span> -->
                                    </div>
                                    <div class="blog-text">
                                        <h4>
                                            <a href="study/1">Estudos sobre Fertilizantes</a>
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                        </p>
                                    </div>
                                    <span>
                  <a href="study/1" class="ready-btn">Ler mais</a>
                </span>
                                </div>
                                <!-- Start single blog -->
                            </div>
                            <!-- End Left Blog-->
                            <!-- Start Left Blog -->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-blog">
                                    <div class="single-blog-img">
                                        <a href="study/1">
                                            <img src="assets/img/blog/2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-meta">
                                        <!-- <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">130 comments</a>
                  </span>
                                    <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span> -->
                                    </div>
                                    <div class="blog-text">
                                        <h4>
                                            <a href="study/1">Estudo de Oleaginosas</a>
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                        </p>
                                    </div>
                                    <span>
                  <a href="study/1" class="ready-btn">Ler mais</a>
                </span>
                                </div>
                                <!-- Start single blog -->
                            </div>
                            <!-- End Left Blog-->
                            <!-- Start Right Blog-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="single-blog">
                                    <div class="single-blog-img">
                                        <a href="study/1">
                                            <img src="assets/img/blog/3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-meta">
                                        <!-- <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">10 comments</a>
                  </span>
                                    <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                  </span> -->
                                    </div>
                                    <div class="blog-text">
                                        <h4>
                                            <a href="study/1">PEOT</a>
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                        </p>
                                    </div>
                                    <span>
                  <a href="study/1" class="ready-btn">Ler mais</a>
                </span>
                                </div>
                            </div>
                            <!-- End Right Blog-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Section -->


            <!-- ======= About Section ======= -->
            <div id="about" class="about-area area-padding">
                <div class="container">
                    <!-- <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Sobre Vale do Zambeze</h2>
                        </div>
                    </div>
                </div> -->
                    <div class="row">
                        <!-- single-well start-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-left">
                                <div class="single-well">
                                    <a href="#">
                                        <img src="assets/img/about/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-middle">
                                <div class="single-well">
                                    <a href="#">
                                        <h4 class="sec-head">Estudo sobre analise da industria de materiais de construção- cimento</h4>
                                    </a>
                                    <p>
                                        Redug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis iure aspernatur sit adipisci quaerat Itaque quas officiis iure aspernatur sit adipisci unde at nequeRedug Lagre dolor sit amet, consectetur adipisicing elit. Itaque quas officiis
                                        iure
                                    </p>

                                    <div class="single-blog">
                                        <span>
                                  <a href="study/1" class="ready-btn">Ler mais</a>
                                </span>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <!-- End col-->
                    </div>
                </div>
            </div>
            <!-- End About Section -->


            <!-- ======= Suscribe Section ======= -->
            <!-- <div class="suscribe-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                        <div class="suscribe-text text-center">
                            <h3>Welcome to our eBusiness company</h3>
                            <a class="sus-btn" href="#">Get A quate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
            <!-- End Suscribe Section -->

            <!-- Av. da Liberdade, n.° 067, Cidade de Tete
Telef. 25223328, Fax. 25223330 -->
            <!-- ======= Contact Section ======= -->
            <div id="contact" class="contact-area">
                <div class="contact-inner area-padding">
                    <div class="contact-overly"></div>
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="section-headline text-center">
                                    <h2>Contacte-Nos</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Start contact icon column -->
                            <div class="col-md-4">
                                <div class="contact-icon text-center">
                                    <div class="single-icon">
                                        <i class="bi bi-phone"></i>
                                        <p>
                                            Telef. 25223328, Fax. 25223330<br>
                                            <span>Segunda a Sexta (9h-17h)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start contact icon column -->
                            <div class="col-md-4">
                                <div class="contact-icon text-center">
                                    <div class="single-icon">
                                        <i class="bi bi-envelope"></i>
                                        <p>
                                            Email: info@agenciadozambeze.gov.mz<br>
                                            <span>Web: agenciadozambeze.gov.mz</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start contact icon column -->
                            <div class="col-md-4">
                                <div class="contact-icon text-center">
                                    <div class="single-icon">
                                        <i class="bi bi-geo-alt"></i>
                                        <p>
                                            Localização: Mocambique, Cidade de Tete<br>
                                            <span>Av. da Liberdade, n.° 067 </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Start Google Map -->
                            <div class="col-md-6">
                                <!-- Start Map -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
                                    width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                                <!-- End Map -->
                            </div>
                            <!-- End Google Map -->

                            <!-- Start  contact -->
                            <div class="col-md-6">
                                <div class="form contact-form">
                                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                        <div class="form-group">
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu email" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
                                        </div>
                                        <div class="form-group mt-3">
                                            <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
                                        </div>
                                        <div class="my-3">
                                            <div class="loading">Carregando</div>
                                            <div class="error-message"></div>
                                            <div class="sent-message">Sua mensagem foi enviada. Obrigado!</div>
                                        </div>
                                        <div class="text-center"><button type="submit">Enviar mensagem</button></div>
                                    </form>
                                </div>
                            </div>
                            <!-- End Left contact -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Contact Section -->

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include('../partials/footer.html') %>
            <!-- End  Footer -->


</body>

</html>