<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html') %>
</head>

<body>

    <!-- ======= Header ======= -->
    <%- include('../partials/header.html') %>
        <!-- End Header -->

        <main id="main">

            <!-- ======= Blog Header ======= -->
            <div class="header-bg page-area">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <div class="header-bottom">
                                    <!-- <div class="layer2">
                                        <h1 class="title2">Documentos</h1>
                                      </div> -->
                                      <div class="layer3">
                                        <h2 class="title3">Nossos projectos</h2>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Header -->


           
                <div class="container mt-5 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10">
                            


                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> FAE normal</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/doc%2Fprojects%2FFAE_Operacionaliza%C3%A7%C3%A3o.pdf?alt=media&token=5ddf49c3-617f-4873-ae8a-2b595d1986a7" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            




                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> FAE emergência</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="#" class="btn btn-outline-primary">Abrir o documento</a>
                                     

                                    </div>
                                </div>
                            </div>

                          

                            
                            
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Apsan vale</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/doc%2Fprojects%2FAPSAN%20Vale%20_%20Apresenta%C3%A7%C3%A3o%20do%20Projecto.pdf?alt=media&token=a1575b71-c8e8-4ade-b943-6c156d560132" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            


                            
                            
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Proita</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="#" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            

                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Incubadora de negócios</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="#" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            
                            

                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Mecanização</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="#" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            

                               
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Arroz</h5>
                                   
                                    <p class="text-justify  para mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/doc%2Fprojects%2FFicha%20Tecnica%20LIFINCA.pdf?alt=media&token=00e8103e-266b-4185-9664-0800043859dc" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>

                         
                             <!-- <div class="row send">
                                <div class="form-group col-md-6">
                               
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Digite o seu email">
                                    <small id="emailHelp" class="form-text text-muted">Vai receber todos documentos selecionados neste email.</small>
                                  </div>

                                  <div class="form-group col-md-6">
                               
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    
                                  </div>
                             </div> -->
                            


                        </div>
                    </div>
                </div>


                



              
            </form>

         

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include('../partials/footer.html') %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

        <script>
        document
          .getElementById("send")
          .addEventListener("submit", (event) => {
           
            alertSuccess()
        })

        function alertSuccess() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Documentos enviados com sucesso!',
                showConfirmButton: false,
                timer: 1500
            })
        }
        </script>



</body>

</html>