<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.html') %>
</head>

<body>

    <!-- ======= Header ======= -->
    <%- include('../partials/header.html') %>
        <!-- End Header -->

        <main id="main">

            <!-- ======= Blog Header ======= -->
            <div class="header-bg page-area">
                <div class="container position-relative">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="slider-content text-center">
                                <div class="header-bottom">
                                    <!-- <div class="layer2">
                                        <h1 class="title2">Documentos</h1>
                                      </div> -->
                                      <div class="layer3">
                                        <h2 class="title3">Nossos projectos</h2>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Header -->


           
                <div class="container mt-5 mb-5">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10">
                            


                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/frame%2FFrame_10.jpg?alt=media&token=b305143a-a62f-4fc4-8377-118055002f2d"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> FAE</h5>
                                   
                                    <p class="text-justify  para mb-0">  Financiar acções de promoção das sub-cadeias de valor de produtos agrários prioritários e estratégicos
                                        (especificamente hortícolas, batata-reno, feijão, arroz, milho, soja, carnes e mel). <br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <div class="row fae">
                                            <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Ffae%2FFAE_Manual%20de%20Procedimento.pdf?alt=media&token=1dadf277-2346-4270-b886-e022c584ec34" class="btn btn-outline-primary">Manual de Procedimento</a>
                                       
                                            <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Ffae%2FFAE_Ficha%20T%C3%A9cnica.pdf?alt=media&token=168e0d4b-f948-426b-80a5-04e18acd5d69" class="btn btn-outline-primary">Ficha tecnica</a>
                                                                             

                                        </div>

                                    </div>
                                </div>
                            </div>
                    

                            
                            
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2FIMG-20210621-WA0003.jpg?alt=media&token=683f1f41-fb96-449b-a4d1-5f6afc9ad3c2"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Apsan vale</h5>
                                   
                                    <p class="text-justify  para mb-0"> Promover soluções inovadoras com vista ao aumento da produtividade da água, segurança alimentar e nutricional, para agricultura resiliente ao clima no Vale do Zambeze. <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fapsanvale%2FApresenta%C3%A7%C3%A3o%20Apsan%20Vale%2001%20de%20junho%202021.ppt.pdf?alt=media&token=446ab76f-2f94-41aa-bd8f-9e3193477e59" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            


                            
                            
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fproita%2FScreenshot%20(9).png?alt=media&token=9b0f0f36-7225-4e2f-8ff6-2d8e64a7db5f"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Proita</h5>
                                   
                                    <p class="text-justify  para mb-0"> Contribuir para a melhoria do acesso e disponibilidade de tecnologias e inovações agrárias de baixo
                                        custo para os pequenos produtores. <br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fproita%2FPROITA.pdf?alt=media&token=666167b1-563c-4997-a84c-731a1f48cec7" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            

                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fmecanizacao%2Fdepositphotos_216602398-stock-photo-portrait-of-an-handsome-black.jpg?alt=media&token=49b6f8c3-8588-4fd1-98a7-0b6a2f44e5fb"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Incubadora de negócios</h5>
                                   
                                    <p class="text-justify  para mb-0"> Proporcionar condições apropriadas para o desenvolvimento de iniciativas empresariais, por via da
                                        operacionalização de incubadoras de negócios. <br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fnegocios%2FIncubadoras%20de%20negocios.pdf?alt=media&token=9a3fbed3-401b-4327-bdb5-cb695aa0b623" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            
                            

                              
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fmecanizacao%2Fdownload.jfif?alt=media&token=9755e966-5e79-43d8-aa5b-8b29d87cd87f"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Mecanização</h5>
                                   
                                    <p class="text-justify  para mb-0"> Assegurar a transformação e modernização do modo de organização da produção e comercialização. <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Fmecanizacao%2FMecaniza%C3%A7%C3%A3o%20Agraria.pdf?alt=media&token=fbffb73c-d224-4a9a-8c2a-e3be9ee66d67" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>
                            

                               
                            <div class="row p-2 bg-white border rounded mt-2 list">
                                <div class="col-md-2 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Flifinca%2F4.jpg?alt=media&token=544ef822-329f-4b4f-a62c-892c61b3d760"></div>
                                <div class="col-md-6 mt-1">
                                    <h5> Cadeia de Valor do Arroz</h5>
                                   
                                    <p class="text-justify  para mb-0"> Promover acções de consolidação e estruturação da cadeia de valor (abordagem inovativas) e de igual modo
                                        garantir a disponibilidade e orientação do produto nacional ao mercado (redução da importação) <br><br></p>
                                </div>
                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                    <div class="d-flex flex-row align-items-center">
                                        <!-- <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span> -->
                                    </div>
                                   
                                    <div class="d-flex flex-row mt-4">

                                    
                                        <a href="https://firebasestorage.googleapis.com/v0/b/sadc-vale.appspot.com/o/projects%2Flifinca%2FCadeia%20de%20Valor%20do%20Arroz%20no%20Vale%20do%20Zambeze.pdf?alt=media&token=f6445066-50f0-4764-8dc0-21abd93f7dff" class="btn btn-outline-primary">Abrir o documento</a>
                                   

                                    </div>
                                </div>
                            </div>

                         
                             <!-- <div class="row send">
                                <div class="form-group col-md-6">
                               
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Digite o seu email">
                                    <small id="emailHelp" class="form-text text-muted">Vai receber todos documentos selecionados neste email.</small>
                                  </div>

                                  <div class="form-group col-md-6">
                               
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                    
                                  </div>
                             </div> -->
                            


                        </div>
                    </div>
                </div>


                



              
            </form>

         

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <%- include('../partials/footer.html') %>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

        <script>
        document
          .getElementById("send")
          .addEventListener("submit", (event) => {
           
            alertSuccess()
        })

        function alertSuccess() {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Documentos enviados com sucesso!',
                showConfirmButton: false,
                timer: 1500
            })
        }
        </script>



</body>

</html>